;; ./resources/config.edn
{:server {:opts {:host "localhost"

                 ;; url のドメイン直後のポートを振り分けるためのもの。
                 :port
                 ;; タグリテラル　その１
                 ;; 戻り値の型は、基本的に String である。
                 ;; これは、long 型でパースして取得するためのキーワード指定。
                 #long

                 ;; タグリテラル　その２
                 ;; #profile は、この設定ファイル config.edn をパースする関数
                 ;; （ cljapi.config/read-config() ）の、その定義時に指定されている
                 ;; 引数の値とひもづけるのキー名（ :profile ）と一致させる必要がある。
                 #profile

                 ;; パースする関数に渡される引数が、
                 ;; :dev なら 8000 、それ以外なら 5000 にポートが振り分けられる
                 {:default 5000
                  :dev 8000}

                 :join? false}}

 :logging {;; ログレベル
           :level #profile {
                            ;; 開発中は debug レベル以上を出力する
                            :dev :debug
                            ;;:prod :debug

                            ;; それ以外では info レベル以上で出力される
                            :default :info
                            }

           ;; 標準出力に出す
           :console #profile {
                              ;; 本番では JSON 形式で出力
                              :prod {:encoder :json}
                              ;; それ以外ではデフォルトのフォーマットで出力
                              :default true}

           ;; 特定のパッケージに対して、上記「ログレベル」で設定した値を上書きする
           ;; :overrides {"org.eclipse.jetty"
           ;;             ;; 開発時に debug レベルだとログが多すぎるので抑制
           ;;             :info}
           }}
